<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body leftmargin="30">
    <h2>Person form</h2>
    <form method="post">
        {% csrf_token %}
        <table>
        {{form.as_table}}
        </table>
        <p> </p>
        <input type="submit" value="Submit" />
    </form>
    <h2>All Person Details</h2>
    <table>
        {% for item in persons %}
        <tr>
            <td><b>ID:</b>{{ item.id }}</td>
            <td><b>First_name:</b>{{ item.first_name }}</td>
            <td><b>Last_name:</b> {{ item.last_name }}</td>
            <td><b>Email:</b> {{ item.email }}</td>
        </tr>
        <tr>
            <td colspan="4" class="divider"><hr/></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>